.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2px 16px;
    width: 30%;
    margin: 12px;
    justify-content: space-around;
    background: #1dc7ff;
    min-height: 450px;
    border-radius: 6px;
}

.card.col-md-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card:hover .inside{
    transform: scale(0.9);
}

/* Add some padding inside the card container */
.container-card {
    padding: 2px 16px;
    justify-content: center;
}

.wrapper {
    background-color: #337ab7;
    box-shadow: 0px 0px 15px 4px #b3b3b3;
    margin: 50px auto 0;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 10px;
}

.marketing.container-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.info-container {
    background-color: white;
    box-shadow: 0px 0px 15px 4px #b3b3b3;
    margin: 20px auto;
    width: 95%;
    height: 100%;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto
}

.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}

.marketing p {
  font-size: 18px;
}

.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.background {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
    z-index: -1;
}

.back_image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

/* Elements */
h1{
    font-family: 'Heebo', sans-serif;
    font-weight: bolder;
    justify-content: left;
}

h2{
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
}

p{
    font-family: 'Heebo', sans-serif;
    justify-content: left;
}

.li{
    font-family: 'Heebo', sans-serif;
    justify-content: left;
}

.method-info{
    font-family: 'Heebo', sans-serif;
    font-size: 17px;
    font-style: italic;
}


/* Buttons */
.button-30 {
    -webkit-appearance: button;
    -moz-appearance: button;
  align-items: center;
  appearance: none;
    text-decoration: none;

  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: initial;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Heebo', sans-serif;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

/* Images */

.card-image {
    border-radius: 10px;
    object-fit: contain;
    max-width: 300px;
    max-height: 230px;
}
